name: workflow

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Setup Corepack
        run: |
          npm install -g corepack@latest
          corepack enable
          corepack prepare --activate

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Setup Corepack
        run: |
          npm install -g corepack@latest
          corepack enable
          corepack prepare --activate

      - name: Install dependencies
        run: pnpm install

      - name: Lint project
        run: pnpm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Setup Corepack
        run: |
          npm install -g corepack@latest
          corepack enable
          corepack prepare --activate

      - name: Install dependencies
        run: pnpm install

      - name: Test project
        run: pnpm run test:headless
      - name: Coverage
        uses: coverallsapp/github-action@master
        env:
          github-token: ${{ secrets.GH_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: [build, lint, test]
    if: |
      github.ref == 'refs/heads/main' || 
      github.ref == 'refs/heads/next'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Setup Corepack
        run: |
          npm install -g corepack@latest
          corepack enable
          corepack prepare --activate

      - name: Install dependencies
        run: pnpm install

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm run release